
nav{
    position: sticky;
    top: 0px;
    background-color: #fff;
    width: 100%;
    height: auto;
    max-width: 100%;
    
    
}
nav a{
    color: #ab3550 !important;
    font-weight: bold !important;
    

}
.logo-img{
    width: 100%;
    height: 75%;
}
.phone-number{
    color: #fff !important;
    background-color: #ab3550 !important;
    border-width:3px !important;
    border-style: solid !important;
    border-color: #ab3550 !important;
    padding-right:  20px !important;
    padding-left: 20px !important;
    margin-left: 10px;
}
.phone-number:hover{
    background-color: #fff !important;
    color: #ab3550 !important;
    transition: .4s;
    
}
